body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: rgb(0, 238, 255);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}