{% extends 'base.html' %}

{% block title %} Music {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css', _external=True) }}">
{% endblock %}

{% block body %}
<ul class="icone">

    <body>
        <div class="text-1">
            <h3> Blue(Da Ba Dee) - Eiffel 65 </h3>
        </div>
        <a href="https://www.youtube.com/watch?v=zA52uNzx7Y4&t=1s" target="_blank" rel="noopener noreferrer" >
            <button type="button" class="btn-1"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
        </a>

    <div class="text-2">
        <h3>Song Sung Blue - Neil Diamond</h3>
    </div>
    <a href="https://www.youtube.com/watch?v=1cqy4bmYOBI" target="_blank" rel="noopener noreferrer" >
        <button type="button" class="btn-2"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
    </a>

    <div class="text-3">
        <h3>Blue Eyes Unchanged - Michelle Gurevich</h3>
    </div>
    <a href="https://www.youtube.com/watch?v=QxOWuKoA-ns" target="_blank" rel="noopener noreferrer" >
        <button type="button" class="btn-3"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
    </a>

    <div class="text-4">
        <h3>Blue - Marina and The Diamonds</h3>
    </div>
    <a href="https://www.youtube.com/watch?v=gDr7aTfBffU" target="_blank" rel="noopener noreferrer" >
        <button type="button" class="btn-4"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
    </a>

    <div class="text-5">
        <h3>Blue Hotel - Chris Isaak</h3>
    </div>
    <a href="https://www.youtube.com/watch?v=7s6tufofYrg" target="_blank" rel="noopener noreferrer" >
        <button type="button" class="btn-5"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
    </a>

    <div class="text-6">
        <h3>Mamy Blue - Nicoletta</h3>
    </div>
    <a href="https://www.youtube.com/watch?v=LD2uHFT2bI4" target="_blank" rel="noopener noreferrer" >
        <button type="button" class="btn-6"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
    </a>

    <div class="text-7">
        <h3>Blue Eyes Crying In the rain - Willie Nelson</h3>
    </div>
    <a href="https://www.youtube.com/watch?v=2_I6gG2e4_A" target="_blank" rel="noopener noreferrer" >
        <button type="button" class="btn-7"> <img src="https://zupimages.net/up/22/12/l49f.png" height ="30" width="35"/></button>
    </a>

    </body>
</ul>
{% endblock %}