<!DOCTYPE html>
<html>
    <head>
        <title>Blue - Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', _external=True) }}">
    </head>
    <body>
        <form action="" method="post">
            <div style="margin-top: 20%;">
                <input class="form-input-large" type="text" value="" placeholder="Username" name="username">
                <input class="form-input-large" type="password" value="" placeholder="Password" name="password">
                {% if error_message %}
                    <span style="color: lightblue; display: block; margin: auto; width: 250px; margin-top: 10px;">{{error_message}}</span>
                {% endif %}
                <input class="form-button" type="submit" value="Create Account">
            </div>
        </form>
    </body>
</html>