{% extends 'base.html' %}

{% block title %} Personnage {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perso.css', _external=True) }}">
{% endblock %}

{% block body %}
<div class="text-1">
    <h3>Le Génie</h3>
    <div class="ph-1">
        <img src="https://zupimages.net/up/22/12/g5aj.jpg"/>
    </div>
</div>

<div class="text-2">
    <h3>Hadès</h3>
    <div class="ph-2">
        <img src="https://zupimages.net/up/22/12/sopy.jpg"/>
    </div>
</div>


<div class="text-3">
    <h3>Sonic</h3>
    <div class="ph-3">
        <img src="https://zupimages.net/up/22/12/tn00.jpg"/>
    </div>
</div>

<div class="text-4">
    <h3>Tristesse</h3>
    <div class="ph-4">
        <img src="https://zupimages.net/up/22/12/b2qk.jpg"/>
    </div>
</div>

<div class="text-5">
    <h3>Sulli</h3>
    <div class="ph-5">
        <img src="https://zupimages.net/up/22/12/k9r3.jpg"/>
    </div>
</div>

<div class="text-6">
    <h3>Stitch</h3>
    <div class="ph-6">
        <img src="https://zupimages.net/up/22/12/u5ry.jpg"/>
    </div>
</div>

<div class="text-7">
    <h3>Neytiri</h3>
    <div class="ph-7">
        <img src="https://zupimages.net/up/22/12/v7jc.jpg"/>
    </div>
</div>

<div class="text-8">
    <h3>Mystique</h3>
    <div class="ph-8">
        <img src="https://zupimages.net/up/22/12/ckti.jpg"/>
    </div>
</div>

<div class="text-9">
    <h3>Les Schtroumps</h3>
    <div class="ph-9">
        <img src="https://zupimages.net/up/22/12/du44.jpg"/>
    </div>
</div>

<div class="text-10">
    <h3>Megamind</h3>
    <div class="ph-10">
        <img src="https://zupimages.net/up/22/12/1902.jpg"/>
    </div>
</div>

<div class="text-11">
    <h3>Le Fauve</h3>
    <div class="ph-11">
        <img src="https://zupimages.net/up/22/12/jevu.jpg"/>
    </div>
</div>

<div class="text-12">
    <h3>Diablo</h3>
    <div class="ph-12">
        <img src="https://zupimages.net/up/22/12/b7g3.jpg"/>
    </div>
</div>
{% endblock %}
