{% extends 'base.html' %}

{% block title %} Définition {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/defi.css', _external=True) }}">
{% endblock %}

{% block body %}
<h1>Bleu - Définition et Explications</h1>

<p>Bleu (de l'ancien haut-allemand " blao " = brillant) est une des trois couleurs primaires. Sa longueur d'onde est comprise approximativement entre 446 et 520 nm. Elle varie en luminosité du cyan à une teinte plus sombre comme le bleu de Prusse (ou bleu de minuit).</p>
<p>Le bleu est la couleur du ciel (voir l'article : Bleu du ciel) et de la mer (bleu marine).</p>
<p>Le bleu étant particulièrement rare dans les aliments, certaines bonnes pratiques d'hygiène et sécurité recommande que des objets qui risquent de se retrouver par inadvertance dans le process de frabrication de nourriture soit bleu (poils de pinceau, balais ou balayette, tissus, bouchons, etc, de manière à les repérer plus facilement).</p>
<img src="https://zupimages.net/up/22/12/rgu3.png"/>

<h2>La symbolique du bleu</h2>
<p>Omniprésent dans nos vies, le bleu est synonyme d’évasion et symbole de fidélité, de sagesse, de justice et de la foi. Pour les Égyptiens, le bleu était une couleur porte-bonheur liée à l’immortalité et à la vérité. S'ils ont été les premiers à découvrir les pigments minéraux bleus, l’azurite, l’Indigo, un pigment végétal, était déjà très utilisé dès l’Antiquité.</p>
<p>Au Moyen-Âge, le bleu était vénéré et symbole de pureté. Il habille la vierge Marie. Durant cette période, c’est le bleu de Lapis Azuli ou le bleu outremer que l’on emploie. Provenant d’Afghanistan, ces pigments très onéreux ont rendu la couleur précieuse. C’est au XVIIIe siècle, à Berlin que l’on découvre le premier pigment synthétique, le bleu de Prusse. Cette invention va déployer la couleur et son utilisation au fil du temps. En 1960, Yves Klein présente son bleu outremer unique sous le nom de IKB, International Klein Blue.</p>

<h2>Le bleu, la couleur la plus utilisée au monde</h2>
<p>Le bleu (cyan) est l’une des trois couleurs primaires, avec le jaune et le magenta (une teinte de rouge). C’est à partir du mélange des couleurs primaires que sont créées les autres teintes.</p>
<p>Que vous évoque cette couleur ? La plupart des gens répondront le ciel, la mer, le grand air, la liberté. Comme le vert, c’est une couleur froide qui calme, alors que les couleurs chaudes comme le rouge sont plus stimulantes.</p>
<p>C’est aussi la couleur préférée de la majorité des gens. Ce n’est donc pas anodin qu’on la retrouve partout.</p>

<h3>#1 Le bleu en communication : il évoque la confiance et la sécurité</h3>
<p>En communication, le bleu est utilisé pour rassurer. Couleur symbolisant la confiance, la clarté, la transparence, il n’est pas rare de la voir sur des insignes, des drapeaux, des logos institutionnels.</p>
<p>Cette notion de confiance qu’elle confère lui vaut d’être utilisée dans beaucoup d’autres domaines :</p>
<p>Dans les domaines de la technologie, de l’informatique, de la sécurité où le bleu est souvent foncé ou très froid.</p>
<p>Elle est fréquemment utilisée dans la finance, les banques, le médical</p>

<h3>#2 La couleur bleue évoque aussi la liberté et l’évasion</h3>
<img src="https://zupimages.net/up/22/12/bki5.jpg"/>
<p>Le bleu est la couleur des rêveurs et des aventuriers. C’est pourquoi il est beaucoup utilisé dans le tourisme. Les compagnies aériennes, les agences de voyage, les hôtels optent souvent pour les émotions positives que le bleu peut apporter à leur marque.</p>

<h3>#3 Le bleu en communication : symbole de fraîcheur</h3>
<img src="https://zupimages.net/up/22/12/2w2c.jpg"/>
<p>Quelle couleur représente le mieux le froid ? Assurément, c’est le bleu ! C’est la couleur la plus rafraichissante du spectre.</p>
<p>On l’utilise donc beaucoup dans l’alimentaire pour témoigner de la fraîcheur, et à fortiori, de la qualité des produits.</p>

<h3>#4 Le bleu symbole de mélancolie</h3>
<p>Si vous faites partie des rares personnes n’aimant pas cette couleur : rassurez-vous, le bleu peut aussi avoir une consonance négative. C’est une couleur pouvant aussi évoquer la nuit, la tristesse et la mélancolie, surtout si elle est dans des tons très froids comme le bleu nuit. Ne dit-on pas avoir le blues ?</p>
<p>Tous ces éléments sont donc à prendre en compte lors de la stratégie de communication d’une enseigne et de la définition de sa charte graphique.</p>

<h2>Particularités</h2>

<p>Il s'agit de l'une des trois couleurs primaires dans la synthèse additive. Le cyan qui est une nuance de bleu est également l'une des trois couleurs primaires dans la synthèse soustractive (imprimerie, peinture).</p>
<p>Bien que le ciel et la mer soient bleus, cette couleur est rare dans la nature : par exemple il y a beaucoup moins de fleurs bleues que fleurs rouges ou jaunes. Par ailleurs il faut noter que l'œil humain discerne moins de nuances dans le bleu qu'il n'en discerne dans les autres couleurs.</p>
<p>Ainsi, avant l'arrivée des pigments de synthèse, les pigments bleus étaient plus rares et plus coûteux. C'est pourquoi cette couleur symbolisait la richesse.</p>
<p>Cette difficulté à produire du bleu s'est avérée encore récemment au niveau des Diodes électroluminescentes. Les premières diodes lumineuses (rouges et vertes, puis jaunes et oranges) ont été inventées et produites dans les années 1960, mais il a fallu attendre la fin des années 1990 (plus de 30 ans&nbsp;!) pour que l'on parvienne à produire des diodes bleues.</p>
<p>C'est une couleur qualifiée traditionnellement de <i>froide</i>  par opposition aux couleurs chaudes (jaune, orange, rouge) qui sont les couleurs du feu.</p>

<h2>Le bleu et son influence</h2>
<p>Selon Kandinsky : « Le bleu est une couleur céleste par essence. La sensation ultime qu’elle crée est celle du repos ». Dans le Feng Shui, le bleu est la couleur de l’âme et de la sagesse. Il représente la tranquillité. Il favorise aussi la réflexion et la méditation.</p>

<h2>Pigments</h2>
<ul>
    <li>
        La guède, plante d'Europe dont les feuilles contiennent de l' indigotine, utilisée dès les celtes et dont le broyat forme le pastel;
    </li>
    <li>
        L'indigotier, arbuste venant d'Inde, d'Afrique, d'Amérique ou du Moyen-Orient, dont on extrait l'indigo, teinture de meilleure qualité que la guède et ayant supplanté cette dernière au XIXe siècle;
    </li>
    <li>
        Le lapis-lazuli, pierre dure, venant d'Orient, utilisé sous forme de broyat
    </li>
    <li>
        Oxydes et silicates de cuivre.
    </li>
    <li>
        Le Bleu de Prusse, découvert en 1704 à Berlin par Heinrich Diesbach et Johann Conrad Dippel. Il est produit par réaction de la potasse sur du sulfate de fer. Il parvient à supplanter l'indigo à la fin du XIXe siècle, malgré une résistance médiocre à la lumière.
    </li>
    <li>
        De nos jours, il s'agit essentiellement de colorants de synthèse.
    </li>
</ul>
{% endblock %}